/* CTA 1 */

.cta-1 {
  margin-bottom: 300px;
  /* 220 (distancia top) + 80 (margin-bottom) */
}

.cta-1 img {
  position: absolute;
  width: 600px;
  height: 500px;
  object-fit: cover;
}

.cta-1-info {
  background-color: var(--w);
  padding: 40px 800px 40px 60px;
  position: relative;
  left: 540px;
  top: 213px;
  width: max-content;
}

.cta-1 .titulo2 {
  margin-bottom: 12px;
  max-width: fit-content;
}
.cta-1 .texto2 {
  margin-bottom: 28px;
  max-width: 28ch;
}

.botao-cta {
  display: block;
  max-width: fit-content;
  text-transform: uppercase;
  background-color: #78abbd;
  color: var(--w);
  padding: 16px 24px;
  font-size: 20px;
  transition: 0.3s;
}

/* .botao-cta:hover {
  background-color: #5c8ea0;
} */

.botao-cta-2 {
  background-color: #60b68f;
  background-color: #78bdae;
}

.intro .botao-cta {
  background-color: rgba(120, 171, 189, 0.9);
}

@media (max-width: 1200px) {
  .cta-1-info {
    padding: 40px 100px 40px 60px;
  }
  .cta-1 img {
    width: 580px;
    height: 460px;
  }
}

@media (max-width: 1080px) {
  .cta-1-info {
    padding: 40px 60px;
    left: 480px;
    top: 213px;
  }
  .cta-1 img {
    width: 580px;
    height: 460px;
  }
}

@media (max-width: 940px) {
  .cta-1-info {
    padding: 40px 40px 40px 60px;
    left: 360px;
    top: 213px;
  }
  .cta-1 img {
    width: 460px;
    height: 400px;
  }
}
@media (max-width: 840px) {
  .cta-1-bg {
    background: url("../img/foto-cta-1.png") no-repeat;
    background-size: cover;
    background-position: center;
  }

  .cta-1 {
    padding-bottom: 60px;
    margin-bottom: 280px;
    /* 220 (distancia top) + 60 (margin-bottom) */
  }

  .cta-1-info {
    width: 460px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 40px 40px 60px;
    left: 00px;
    top: 280px;
  }
  .cta-1 img {
    display: none;
  }
  .botao-cta {
    padding: 14px 20px;
    font-size: 17px;
  }
}

@media (max-width: 620px) {
  .cta-1-info {
    width: fit-content;
    padding: 40px;
  }
}

/* CTA 2 */
.cta-2 {
  position: relative;
  /* 260 + 120 de margin bottom */
  margin-bottom: 380px;
}

.cta-2 img {
  position: absolute;
  right: 0;
  top: 0;
  width: 560px;
  height: 500px;
  object-fit: cover;
}

.cta-2-info {
  background-color: var(--w);
  padding: 40px 1800px 40px 60px;
  width: max-content;
  position: relative;
  top: 253px;
}

.cta-2 .titulo2 {
  margin-bottom: 12px;
}
.cta-2 .texto2 {
  margin-bottom: 28px;
  max-width: 28ch;
}

@media (max-width: 1200px) {
  .cta-2-info {
    padding: 40px 400px 40px 60px;
  }
  .cta-2 img {
    width: 540px;
    height: 460px;
  }
  .cta-2-info {
    /* -29 */
    top: 224px;
  }
}

@media (max-width: 1040px) {
  .cta-2 img {
    width: 460px;
    height: 420px;
  }
  .cta-2-info {
    top: 184px;
  }
}

@media (max-width: 940px) {
  .cta-2 img {
    width: 380px;
    height: 340px;
  }
  .cta-2-info {
    top: 106px;
  }
}
@media (max-width: 840px) {
  .cta-2 img {
    display: none;
  }
  .cta-2-bg {
    background: url("../img/foto-cta-2.png") no-repeat;
    background-size: cover;
    background-position: center;
  }

  .cta-2 {
    padding-bottom: 60px;
    margin-bottom: 300px;
    /* 220 (distancia top) + 80 (margin-bottom) */
  }

  .cta-2-info {
    width: 460px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 40px 40px 60px;
    left: 00px;
    top: 280px;
  }
}

@media (max-width: 620px) {
  .cta-2-info {
    width: fit-content;
    padding: 40px;
  }
  .cta-2 img {
    display: none;
    position: static;
    width: 100%;
    height: 400px;
  }
}

@media (max-width: 380px) {
  .cta-2-info .titulo2 {
    font-size: 1.35rem;
  }
}
