/* configs gerais */
.depoimentos-info {
  margin-bottom: 80px;
}

.depoimentos-info .titulo2 {
  margin-bottom: 12px;
  /* text-align: center; */
}

/* .depoimentos-info .texto2 {
  text-align: center;
} */

.depoimentos-slider-item {
  background-color: var(--w);
  width: 440px;
  height: max-content;
  padding: 40px 60px;
}

.cliente-info {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-bottom: 32px;
}

.cliente-info .titulo3 {
  margin-top: 12px;
}

.cliente-info > img {
  width: 80px;
  object-fit: cover;
  border-radius: 80px;
}

/* botões slider */
.depoimentos {
  margin-bottom: 80px;
}

.container-depoimentos-slider {
  position: relative;
}

.depoimentos .slide-botao {
  position: absolute;
  top: 50%;
  background-color: var(--c4);
  border: none;
  outline: none;
  padding: 10px 24px;
  border-radius: 50px;
  cursor: pointer;
  transform: translateY(-50%);
  transition: 0.2s;
}

.depoimentos .slide-botao:hover {
  background-color: var(--w);
}

.depoimentos .slide-botao#slide-esquerda {
  left: -92px;
}
.depoimentos .slide-botao#slide-direita {
  right: -92px;
}

/* slider */
.depoimentos-slider {
  display: grid;
  overflow-x: auto;
  scrollbar-width: none;
  grid-template-columns: repeat(10, 1fr);
  gap: 24px;
}

@media (max-width: 1023px) {
  .depoimentos .slide-botao {
    display: none !important;
  }
}

/* responsividade */

/* .depoimentos {
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
} */

.container-depoimentos-slider {
  box-sizing: border-box;
  max-width: 1200px;
  /* padding: 0 20px; */
  margin-left: auto;
  margin-right: auto;
}

/* responsividade */
@media (max-width: 1380px) {
  .container-depoimentos-slider {
    max-width: 1080px;
  }
  .depoimentos-slider-item {
    width: 400px;
  }
  .depoimentos .texto2 {
    font-size: 1.125rem;
  }
}

@media (max-width: 1200px) {
  .container-depoimentos-slider {
    max-width: 920px;
  }
  .depoimentos-slider-item {
    width: 360px;
  }
  .depoimentos .titulo2 {
    margin-bottom: 12px;
  }
  .depoimentos .titulo3 {
    margin-bottom: 16px;
  }
}

@media (max-width: 1023px) {
  .depoimentos .slide-botao {
    display: none !important;
  }
  .container-depoimentos-slider {
    max-width: 1200px;
  }
}

@media (max-width: 800px) {
  .depoimentos-slider-item {
    width: 280px;
  }
  .depoimentos .titulo2 {
    font-size: 1.65rem;
    letter-spacing: 0;
  }
  .depoimentos .texto2 {
    font-size: 0.985rem;
  }
  .depoimentos-info {
    margin-bottom: 60px;
  }

  /* caixinha de depoimento */
  .cliente-info > img {
    width: initial;
  }
  .cliente-info {
    margin-bottom: 8px;
  }
  .cliente-info img[alt="5 estrelas"] {
    width: 100px;
  }
  .depoimentos-slider-item {
    padding: 32px 40px;
  }
}

@media (max-width: 360px) {
  .depoimentos-slider-item {
    width: 240px;
    padding: 28px 40px;
  }
}
