/* configs gerais */
.depoimentos-info {
  margin-bottom: 80px;
}

.depoimentos-info .titulo2 {
  margin-bottom: 12px;
}

.depoimentos-info .texto2 {
  text-transform: uppercase;
}

.depoimentos-slider-item {
  background-color: var(--w);
  width: 440px;
  height: max-content;
  padding: 40px 60px;
}

.cliente-info {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-bottom: 32px;
}

.cliente-info .titulo3 {
  margin-top: 12px;
}

.cliente-info > img {
  width: 80px;
  object-fit: cover;
  border-radius: 80px;
}

/* botões slider */
.depoimentos {
  position: relative;
  margin-bottom: 80px;
}

.depoimentos .slide-botao {
  position: absolute;
  top: 60%;
  background-color: var(--c4);
  border: none;
  outline: none;
  padding: 10px 24px;
  border-radius: 50px;
  cursor: pointer;
  transform: translateY(-50%);
  transition: 0.2s;
}

.depoimentos .slide-botao:hover {
  background-color: var(--w);
}

.depoimentos .slide-botao#slide-esquerda {
  left: -92px;
}
.depoimentos .slide-botao#slide-direita {
  right: -92px;
}

/* slider */
.depoimentos-slider {
  display: grid;
  overflow-x: auto;
  scrollbar-width: none;
  grid-template-columns: repeat(10, 1fr);
  gap: 24px;
}

@media (max-width: 1023px) {
  .depoimentos .slide-botao {
    display: none !important;
  }
}
