body {
  background-color: var(--c4);
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
:target {
  scroll-margin-top: 7rem;
}

/* reset / deficições iniciais */
body {
  margin: 0px;
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

/* container */
.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

/* cores */
:root {
  --w: #ffffff;
  /* bloco cinza */
  --c1: rgb(82, 82, 84, 0.92);
  /* titulo2 */
  --c2: #434446;
  /* titulo3 */
  --c3: #686868;
  --c4: #efefef;
}

.w {
  color: var(--w);
}

.c2 {
  color: var(--c2);
}

.c3 {
  color: var(--c3);
}

/* fontes */
.titulo1 {
  text-transform: uppercase;
  font-size: 3.25rem;
  letter-spacing: 0.02em;
  font-weight: 600;
}

.titulo2 {
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 0.02em;
  font-weight: 600;
}

.titulo3 {
  text-transform: uppercase;
  font-size: 1.75rem;
  letter-spacing: 0.02em;
  font-weight: 600;
}

.texto1 {
  font-size: 1.5rem;
}

.texto2 {
  font-size: 1.25rem;
}

.upper {
  text-transform: uppercase;
}

/* tipografia responsiva */
@media (max-width: 1200px) {
  .titulo1 {
    font-size: 2.75rem;
  }
  .titulo2 {
    font-size: 2rem;
  }
  .titulo3 {
    font-size: 1.5rem;
  }
  .texto1 {
    font-size: 1.25rem;
  }
  .texto2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 800px) {
  .titulo1 {
    font-size: 2.25rem;
  }
  .titulo2 {
    font-size: 1.75rem;
  }
  .titulo3 {
    font-size: 1.325rem;
  }
  .texto1 {
    font-size: 1.125rem;
  }
  .texto2 {
    font-size: 1.125rem;
  }
}

@media (max-width: 620px) {
  .titulo1 {
    font-size: 2.125rem;
  }
}

@media (max-width: 428px) {
  .titulo1 {
    font-size: 1.75rem;
    letter-spacing: 0;
  }
  .texto1,
  .texto2 {
    font-size: 0.95rem;
  }
}

@media (max-width: 360px) {
  .titulo1 {
    font-size: 1.5rem;
  }
}
