.intro-bg {
  background: url("../img/foto-intro.png");
  background-size: cover;
  background-position: center;
}

.intro {
  padding-top: 300px;
  padding-bottom: 300px;
}

.intro .titulo1 {
  padding-bottom: 60px;
  max-width: 30ch;
}

.intro .texto1 {
  background-color: var(--c1);
  max-width: 26ch;
  padding: 40px 80px 40px 500px;
  position: relative;
  left: -500px;
  z-index: 0;
}

@media (max-width: 1380px) {
  .intro {
    padding-top: 140px;
    padding-bottom: 200px;
  }
  .intro .titulo1 {
    padding-bottom: 40px;
  }
  .intro .texto1 {
    padding: 28px 80px 28px 500px;
  }
}

@media (max-width: 1200px) {
  .intro .texto1 {
    padding: 28px 80px;
    left: -80px;
  }
}

@media (max-width: 620px) {
  .intro {
    padding-top: 160px;
    padding-bottom: 220px;
  }
  .intro .texto1 {
    padding: 20px 40px;
    left: -40px;
  }
  .intro-bg {
    background-position: -516px;
  }
  .intro .titulo1 {
    padding-bottom: 40px;
    max-width: 19ch;
  }
}

@media (max-width: 460px) {
  .intro-bg {
    background-position: -560px;
  }
}
