.profissionais {
  margin-bottom: 120px;
}

.profissionais .titulo2 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /* max-width: 36ch; */
  margin-bottom: 80px;
}

.profissionais-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 52px;
}

.profissionais-dentista {
  justify-self: center;
  position: relative;
}

.dentista-descricao {
  position: absolute;
  bottom: 40px;
  left: -40px;
  padding: 20px 40px;
  max-width: 400px;
  background-color: var(--c1);
}

@media (max-width: 800px) {
  .dentista-descricao .titulo3 {
    font-size: 1.125rem;
  }
  .dentista-descricao .texto2 {
    font-size: 0.95rem;
  }
  .dentista-descricao {
    padding: 16px 20px;
    left: -20px;
  }
  .profissionais .titulo2 {
    margin-bottom: 60px;
  }
  .profissionais {
    margin-bottom: 80px;
  }
}

@media (max-width: 620px) {
  .profissionais-grid {
    grid-template-columns: 1fr;
  }
  .profissionais-dentista {
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 500px) {
  .profissionais-dentista {
    max-width: 320px;
  }
}
